body {
    background: url("../images/grass.jpg");
    color: white;
}
.container {
    text-align: center;
    margin-top: 2%;
}

.logo {
    width: 30px;
    display: inline;
}

h1 {
    display: inline;
}

#game {
    background-color: black;
}

.button {
    margin: 0 auto;
    margin-top: 10px;
    clear: both;
    display: block;
    width: 20%;
    background-color: #fff;
    color: green;
    border-radius: 4%;
    line-height: 1.8em;
}

